[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3"

[scripts]
start-server = "pipenv run python -m heartbeattracking start-server"
start-test-client = "pipenv run python -m heartbeattracking start-test-client"
start-poll-client = "pipenv run python -m heartbeattracking start-poll-client"
