<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/mdui/1.0.2/css/mdui.min.css" rel="stylesheet">
</head>

<body>
    <div class="mdui-container">
        <form action="show" method="GET">
            <select class="mdui-select" name="type" required mdui-select>
                <option value="_disabled" disabled selected>Choose page type...</option>
                <option value="normal">Normal show page</option>
                <option value="greenscreen">Greenscreen</option>
            </select>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">Page title</label>
                <input class="mdui-textfield-input" type="text" value="Heartbeat Tracking" name="title" required />
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">Heartbeat Unit</label>
                <input class="mdui-textfield-input" type="text" value="BPM" name="bpm-unit" required />
            </div>

            <button class="mdui-btn mdui-btn-raised mdui-ripple" type="submit">show</button>
        </form>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/mdui/1.0.2/js/mdui.min.js"></script>
</body>

</html>